{% extends 'base.html' %} {% block content %}

<h1>Video Game List</h1>

{% for video_game in video_games %}
<div class="card">
	<a href="{% url 'detail' video_game.id %}">
		<div class="card-content">
			<span class="card-title">{{ video_game.name }}</span>
			<p>Genre: {{ video_game.genre }}</p>
			<p>Description: {{ video_game.description }}</p>
			{% if video_game.age > 15 %}
			<p>Woah, {{ video_game.age }} years old? that's retro bro!</p>
			{% else %}
			<p>Age: {{ video_game.age }}</p>
			{% endif %}
		</div>
	</a>
</div>
{% endfor %} {% endblock %}