{% extends 'base.html' %} {% block content %}

<h1>Video Game List</h1>

{% for game in games %}
<div class="card">
	<a href="{% url 'detail' game.id %}">
		<div class="card-content">
			<span class="card-title">{{ game.name }}</span>
			<p>Genre: {{ game.genre }}</p>
			<p>Description: {{ game.description }}</p>
			{% if ame.age > 15 %}
			<p>Woah, {{ game.age }} years old? that's retro bro!</p>
			{% else %}
			<p>Age: {{ game.age }} years old</p>
			{% endif %}
		</div>
	</a>
</div>
{% endfor %} {% endblock %}