{% extends 'base.html' %}

{% block content %}

<h1>Console Details</h1>


<div class="card">
    <a href="{% url 'consoles_detail' console.id %}">
        <div class="card-content">
            <span class="card-title">A <span class="{{ console.color.lower }}-text">{{ console.color }}</span> {{ console.name }}, {{ console.edition}} Edition.</span>
        </div>
        <div class="card-action">
            <a href="{% url 'consoles_update' console.id %}">Edit</a>
            <a href="{% url 'consoles_delete' console.id %}">Delete</a>
        </div>
    </a>
</div>

{% endblock %}